@import "tailwindcss";

@theme {
  --font-gummy: "Sour Gummy", sans-serif;
  --font-delius: "Delius Unicase", sans-serif;
}

/* Perspective wrapper */
.perspective {
  perspective: 1200px;
}

/* Scrapbook page */
.yuri {
  transform-origin: center;
  animation: scrapbookTiltRight 3.5s ease-in-out infinite;
  transform: scale(-50%);
}

.kyle {
  transform-origin: center;
  animation: scrapbookTiltLeft 4.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.animate-float {
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* Scrapbook flip animation */
@keyframes scrapbookFlip {
  0% {
    transform: rotateY(0deg);
  }

  20% {
    transform: rotateY(-35deg);
  }

  40% {
    transform: rotateY(-160deg);
  }

  55% {
    transform: rotateY(-140deg);
  }

  70% {
    transform: rotateY(-20deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes scrapbookTiltRight {
  0% {
    transform: rotateZ(6deg) rotateY(0deg);
  }

  25% {
    transform: rotateY(1deg)
  }

  50% {
    transform: rotateZ(-18deg) rotateY(-3deg);
  }

  75% {
    transform: rotateY(-1)
  }

  100% {
    transform: rotateZ(6deg) rotateY(0deg);
  }
}

@keyframes scrapbookTiltLeft {
  0% {
    transform: rotateZ(-8deg) rotateY(0deg);
  }

  25% {
    transform: rotateY(-2deg)
  }

  50% {
    transform: rotateZ(20deg) rotateY(-3deg);
  }

  75% {
    transform: rotateY(1deg)
  }

  100% {
    transform: rotateZ(-8deg) rotateY(0deg);
  }
}